body {
    background: url("2465526.jpg");
    background-size: 3840px 2160px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: verdana;
}

button {
    transition-duration: 0.4s;
    background: transparent;
    color: black;
    border: 2px solid #008CBA;
    width: 100%;
    height: 100%;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

table, th, td {
    border: 2px solid transparent;
    border-collapse: collapse;
    padding: 0px;
    border-spacing: 0px;
}

.center {
    width: 70%;
    margin-left: 50%;
    margin-right: 50%;
}

tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

th {
    background-color: #96D4D4;
}

th, td {
    text-align: center;
    padding: 0px;
    height: 30px;
    /*padding-left: 8px;*/
    /*padding-right: 8px;*/
}

